body{
	/*background: url(http://joulepersecond.com/images/logo_large_trans_bold.png) #fff no-repeat fixed center top;
	background: url(http://joulepersecond.com/images/logo_large_trans_mono.png) #fff no-repeat fixed center top;*/
	/*background: url(http://joulepersecond.com/images/MidTransBg.png) #6DD300;*/
	background: url(http://joulepersecond.com/images/paper_bg.jpg) fixed;
}
.section-ln {
	border: 1px #ddd solid;
	background: url(http://joulepersecond.com/images/LightTransBg.png);
	background-color: #DAE4D7;
	-webkit-box-shadow: 0px 6px 8px -2px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 6px 8px -2px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 6px 8px -2px rgba(50, 50, 50, 0.75);
/*	-webkit-border-radius: 3px;
	border-radius: 3px;*/
}
input[type="text"], input[type="number"]{
	color: #999;
	border: 1px solid #999;
}
.account-page input[type="number"] {
	border-style: solid;
}
tr:hover{
	background-color: #ccc;
}
.hdr-container{
	/*background: url(http://joulepersecond.com/images/GridBg.png);*/
	background: #6DD300;
}
nav.top-nav li{
	background-color: #5EB300;
}
nav.top-nav li a{
	color:white;
}
.account-settings h1{
	color:#666;
	margin: 0;
}
.account-settings .btn-default{
	float:right;
}
h1{
	font-weight: bold;
	font-size: 30px;
}
.value {
	color: #000;
	font-weight: bold;
	font-family: monospace;
}
.heading-gray, .date_selected h3 {
	background-color: #f9f9f9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #666;
	padding: 5px 10px;
	font-family: monospace;
	font-size: 20px;
	margin: 0;
	border: 1px solid white;
}
 h3 ,.m-header {
	padding: 5px 10px;
	background-color: #5EB300;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: white;
	margin-bottom: 10px!important;
	margin-top: 0;
}
.account-settings h2{
	color: #666;
	font-size: 26px;
	margin: 0;
}
h3, .m-header{
	/*background: #6dd300;
	background: -moz-linear-gradient(top,  #6dd300 0%, #8dd145 50%, #6dd300 51%, #75ba00 100%)!important; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6dd300), color-stop(50%,#8dd145), color-stop(51%,#6dd300), color-stop(100%,#75ba00))!important; 
	background: -webkit-linear-gradient(top,  #6dd300 0%,#8dd145 50%,#6dd300 51%,#75ba00 100%)!important; 
	background: -o-linear-gradient(top,  #6dd300 0%,#8dd145 50%,#6dd300 51%,#75ba00 100%)!important; 
	background: -ms-linear-gradient(top,  #6dd300 0%,#8dd145 50%,#6dd300 51%,#75ba00 100%)!important; 
	background: linear-gradient(to bottom,  #6dd300 0%,#8dd145 50%,#6dd300 51%,#75ba00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dd300', endColorstr='#75ba00',GradientType=0 )!important; */
}
.m-header {
	background-color: #5EB300!important;
}
.laps-container h3{
	/*background: url(http://joulepersecond.com/images/GridBg.png);*/
}
#calendar .date_selected h3{
	background: none!important;
	color:#333;
}
table, .chart, #calendar, .basic-form, .forum-container, .content-container {
	/*background-color: #efefef;*/
	background-color: #f9f9f9;
}
table, .chart, #calendar, .basic-form, .forum-container, .content-container{
	padding: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #666;
	border: 1px #fff solid;
}
.forum-container, .content-container{
	padding:15px;
	margin-bottom: 20px;
}
textarea{
	color:#333;
}