body{
	margin: 0 0 40px 0;
	background-repeat:no-repeat;
	background-position: center top;
    background-size:cover;
}

input[type="text"], input[type="number"]{
	color: #999;
	border: 1px solid #999;
}
.account-page input[type="number"] {
	border-style: solid;
}
tr:not(.table-group):hover{
	background-color: #ccc;
}
.feature-table tr:hover{
	background-color: transparent; 
}

nav.top-nav li a{
	color:white;
}
.account-settings h1{
	color:#666;
	margin: 0;
}
.account-settings .btn-red{
	float:right;
}
h1{
	font-weight: normal;
}
h1.primary-heading{
	margin-top: 0;
}
.value {
	color: #000;
	font-weight: bold;
	font-family: monospace;
}

h2{
	color: #5A5A5D;
	font-size: 25px;
	margin: 10px 0;
}
 h3 ,.m-header {
	margin-top: 0;
}
h3::after{
	content: '';
	display: block;
	position: relative;
	width: 20px;
	height: 10px;
	top: 5px;
	left: 90%;
}
.warning {
	padding: 5px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px!important;
	margin-top: 0;
	text-shadow: 0 -1px #0d0d0d;
	display: block;
	color: white;

}

.account-settings h2{
	color: #666;
}
h3, .h3{
	font-size: 28px;
	max-height: 32px;
	font-weight: 100
}
h3.home-h3{
	max-height: 58px;
	background: none;
	font-size: 2em;
	text-shadow:none;
	color: #5A5A5D;
}
h3.home-h3 .fine{
	font-weight: 100;
}
.h4, h4 {
  font-style: italic;
  font-weight: bold;
  color:silver;
}

.date_selected h3::after{
	content:none;
}
.warning{
	font-size: 14px;
}

.laps-container h3{
	/*background: url(http://joulepersecond.com/images/GridBg.png);*/
}
#calendar .date_selected h3{
	background: none!important;
	color:#333;
}

table, .chart, #calendar, .basic-form, .forum-container, .content-container{
	/*padding: 15px;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
table, .chart, #calendar, .basic-form, .forum-container, .content-container{
	padding: 20px 30px;
  	margin-bottom: 30px;
	overflow: hidden;
	min-height: 200px;
}
.blurb .home-content-container img{
	margin: 0 15px 0 0;
}
.blurb{
	margin-right:-20px;
}
textarea{
	color:#333;
}
.footer-links-text li a{
	text-shadow: 0 -1px #0d0d0d;
}
.footer-links-text-right li a{
	text-shadow: 0 -1px #0d0d0d;
	text-align: right;
}
.footer-links-text li {
	color:#fff;
	text-shadow: 0 -1px #0d0d0d;
}
.feature-box{
	border: 1px silver dotted;
	border-radius: 5px;
	padding: 30px;
	background-color: white;
	margin-bottom: 30px;
}
.feature-table h3{
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 38px;
}
.feature-table{
	border-radius: 12px;
	padding:60px;
}
#filter-update .default-btn {
  font-size: 20px;
  padding: 8px;
  width: 100%;
  margin-top: 30px
}
/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/
a {
	text-decoration:none;
}

a:hover,
a:focus,
a:active {
	text-decoration:underline;
}
.btn-red{
	font-size: 14px;
	color: white;
	text-shadow: 0 -1px #0d0d0d;

}

.note{
	background: #DFDFE1;
	border-radius: 5px;
	padding: 15px;
	display: inline-block;
	line-height: 25px;
	margin: 10px 0;
}

/* media queries */
@media screen and (max-width: 1140px) {
	.jps{
		display: none;
	}
	.footer-links-text li:nth-of-type(even){
		display: none;
	}
	.site-footer{
		height: auto;
	}
	.feature-table h3{
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 22px;
	}
}


@media (max-width: 767px) {
	body{
		margin:0;
	}
	.blurb{
		margin-left:-20px;
	}
	
	
}

@media (max-width: 479px){

}
