body{
	background: url(http://joulepersecond.com/images/logo_large_trans_bold.png) #fff no-repeat fixed center top;
	background: url(http://joulepersecond.com/images/logo_large_trans_mono.png) #fff no-repeat fixed center top;
	/*background: url(http://joulepersecond.com/images/MidTransBg.png) #6DD300;*/
}
.section-ln {
	border: 3px #6DD300 solid;
	background: url(http://joulepersecond.com/images/LightTransBg.png);
	-webkit-box-shadow: 0px 6px 8px -2px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 6px 8px -2px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 6px 8px -2px rgba(50, 50, 50, 0.75);
}
input[type="text"], input[type="number"]{
	color: #999;
	border: 1px solid #999;
}
.account-page input[type="number"] {
	border-style: solid;
}
tr:hover{
	background-color: #ccc;
}
.hdr-container{
	background: url(http://joulepersecond.com/images/GridBg.png);
}
h1,h2,h3{
	text-shadow: -1px -1px white, 1px 1px white, -1px 1px white, 1px -1px white;
}
.value {
	color: #000;
	font-weight: bold;
	font-family: monospace;
}
 h3 {
	padding: 5px 10px;
	background-color: #444;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 15px;
	color: #666;
	border: 1px #fff solid;
	/*-webkit-box-shadow: 0px 6px 8px -2px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 6px 8px -2px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 6px 8px -2px rgba(50, 50, 50, 0.75);*/
}
h3{
	background: url(http://joulepersecond.com/images/GridBg.png);
}
table, .chart, #calendar, .basic-form {
	/*background-color: #efefef;*/
	background-color: #f9f9f9;
}
h3, table, .chart, #calendar, .basic-form{
	padding: 5px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 15px!important;
	color: #666;
	border: 1px #ccc solid;
}
textarea{
	color:#333;
}