body{
	margin: 0 0 40px 0;
	background-repeat:no-repeat;
	background-position: center top;
    background-size:cover;
}
.section-ln {
	border: 1px #ddd solid;
	-webkit-box-shadow: 0px 6px 8px -2px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 6px 8px -2px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 6px 8px -2px rgba(50, 50, 50, 0.75);
}
input[type="text"], input[type="number"]{
	color: #999;
	border: 1px solid #999;
}
.account-page input[type="number"] {
	border-style: solid;
}
tr:hover{
	background-color: #ccc;
}

nav.top-nav li a{
	color:white;
}
.account-settings h1{
	color:#666;
	margin: 0;
}
.account-settings .btn-red{
	float:right;
}
h1{
	font-weight: normal;
}
h1.primary-heading{
	color:white;
	text-shadow: 0 -1px #0d0d0d;
	margin-top: 0;
}
.value {
	color: #000;
	font-weight: bold;
	font-family: monospace;
}
.heading-gray, .date_selected h3 {
	background-color: #f9f9f9;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #666;
	padding: 5px 10px;
	font-family: monospace;
	font-size: 20px;
	margin: 0;
	border: 1px solid white;
}
h2{
	color: #5A5A5D;
	font-size: 25px;
	margin: 10px 0;
}
 h3 ,.m-header {
	padding: 5px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px!important;
	margin-top: 0;
	text-shadow: 0 -1px #0d0d0d;
}
h3::after{
	content: '';
	display: block;
	position: relative;
	width: 20px;
	height: 10px;
	top: 5px;
	left: 90%;
}
.warning {
	padding: 5px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 10px!important;
	margin-top: 0;
	text-shadow: 0 -1px #0d0d0d;
	display: block;
	color: white;

}

.account-settings h2{
	color: #666;
}
h3, .h3{
	font-size: 20px;
	max-height: 32px;
}
h3.home-h3{
	max-height: 58px;
	/*background: #3C3C3E;*/
	background: #F3F3F3;
	color:#B5B5BD;
	border: 1px white solid;
}
.date_selected h3::after{
	content:none;
}
.warning{
	font-size: 14px;
}

.laps-container h3{
	/*background: url(http://joulepersecond.com/images/GridBg.png);*/
}
#calendar .date_selected h3{
	background: none!important;
	color:#333;
}

table, .chart, #calendar, .basic-form, .forum-container, .content-container{
	padding: 15px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.forum-container, .content-container{
	padding: 50px;
  	margin-bottom: 30px;
	overflow: hidden;
}
.blurb .content-container img{
	float:left;
	margin:10px 15px;
}
textarea{
	color:#333;
}
.footer-links-text li a{
	text-shadow: 0 -1px #0d0d0d;
}
.footer-links-text-right li a{
	text-shadow: 0 -1px #0d0d0d;
	text-align: right;
}
.footer-links-text li {
	color:#fff;
	text-shadow: 0 -1px #0d0d0d;
}
/*--------------------------------------------------------------
Links
--------------------------------------------------------------*/
a {
	text-decoration:none;
}

a:hover,
a:focus,
a:active {
	text-decoration:underline;
}
.btn-red{
	font-size: 14px;
	color: white;
	text-shadow: 0 -1px #0d0d0d;

}
#home-nav-btn a{
	color: #fb4b02;
}
.note{
	background: #DFDFE1;
	border-radius: 5px;
	padding: 6px;
	display: inline-block;
}

/* media queries */
@media screen and (max-width: 1140px) {
	.jps{
		display: none;
	}
	.footer-links-text li:nth-of-type(even){
		display: none;
	}
	.site-footer{
		height: auto;
	}
}


@media (max-width: 767px) {
	body{
		margin:0;
	}
	
}

@media (max-width: 479px){

}
