*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

/log/
/log/*

/application/config/config.php
/application/config/database.php
/uploads/
/temp/*
./index.php
supervisord.conf
*.DS_Store
*.php.swp
