@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

.dp_calendar .clear { clear:both; }

.dp_calendar .loading { background:url(../images/dp_calendar/loading.gif) 50% 50% no-repeat; width:41px; height:39px; }

.dp_calendar {
	/*width:500px;*/
	/*min-height:300px;
	text-align:left;
	background: #ffffff;
	border:1px solid #dbdbdb;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#272727;
	line-height: 1;
	padding:1px;*/
}

.dp_calendar .div_main_date {
	text-align:center;
}

.dp_calendar .main_date {
	font-size:24px;
	font-weight: 700;
	position:relative;
	height: 50px;
}

.dp_calendar .main_date a {
	color:inherit;
	text-decoration:none;
}

.dp_calendar .main_date a#next_month {
	position:absolute;
	right:20px;
	top:0;
}

.dp_calendar .main_date a#prev_month {
	position:absolute;
	left:20px;
	top: 0;
}

.dp_calendar .div_dates {
	text-align:center;
	background:url(../images/dp_calendar/box_border.jpg) 0 100% repeat-x;
}

.dp_calendar .div_dates ul {
	list-style:none;
	margin: 0 auto;
	padding: 0 10px;
}

.dp_calendar li {
    margin:0;
    padding:0;
    background:none;
}

.dp_calendar .div_dates li {
	background:none;
	padding:5px;
	line-height:100% !important;
	min-width:45px;
	font-size:15px;
	color: #929292;
	float:left;
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	padding-top:10px;
	list-style: none;
	margin: 0 3px 3px 0;
}

.dp_calendar .div_dates li.dp_calendar_edisabled {
	color: #e6e6e6 !important;
}

.dp_calendar .div_dates li:hover, .dp_calendar .div_dates li.active {
	background:url(../images/dp_calendar/hover_dates.png) no-repeat 50% 0;
	color:#000;
	text-decoration:underline;
	cursor:pointer;
}

.dp_calendar .div_dates li.has_events {
	/*background:url(../images/dp_calendar/hover_dates_has_event.png) #6DD300 no-repeat 50% 0;*/
	background: #fb4b02; /* Old browsers */
	background: -moz-linear-gradient(top,  #fb4b02 0%, #db4000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb4b02), color-stop(100%,#db4000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fb4b02 0%,#db4000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fb4b02 0%,#db4000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fb4b02 0%,#db4000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fb4b02 0%,#db4000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb4b02', endColorstr='#db4000',GradientType=0 ); /* IE6-9 */
	
	color:#fff !important;
	font-weight: 700;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.dp_calendar .div_dates .day_name {
	text-align:left;
}

.dp_calendar .div_dates .day_name h1, .div_month span {
	font-size:36px !important;
	float:left;
	margin:20px 0 10px 0;
	font-weight:bold !important;
	color:inherit;
}

.dp_calendar .div_dates .day_name .div_month {
	width:50px;
	float:left;
	text-align:center;
	margin-left:20px;
	margin-top:20px;
	padding-top:7px;
}


.dp_calendar .calendar_list {
	min-height: 100px;
	text-align:left;
	clear:left;
}

.dp_calendar .calendar_list h2 {
	font-size:18px;
	float:left;
	text-transform:uppercase;
	margin:0;
	padding:0;
	line-height:100%;
	font-weight:normal;
	color: inherit;
}

.dp_calendar .calendar_list ul#cl_sort_by {
	margin: 0;
	padding: 0;
}

.dp_calendar .calendar_list ul#cl_sort_by li {
	font-size:18px;
	color: #929292;
	float:left;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-left:10px;
	text-transform:uppercase;
	line-height:100%;
	padding:0;
	background:none;
	display:block;
}

.dp_calendar .calendar_list ul#cl_sort_by li:hover, .dp_calendar .calendar_list ul#cl_sort_by li.active {
	text-decoration:underline;
	cursor:pointer;
	/*color:#272727;*/
}

.dp_calendar .calendar_list #list {
	list-style:none;
	margin:20px 0 0 0;
	display: inline-block;
}

.dp_calendar .calendar_list #list li {
	margin-bottom: 10px;
	min-height:41px;
	padding:11px;
	background-color: #6DD300;
	cursor:pointer;
	line-height:normal;
	list-style:none;
	color: #fff;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*-webkit-box-shadow: 0px 6px 8px -2px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 6px 8px -2px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 6px 8px -2px rgba(50, 50, 50, 0.75);*/
}
.dp_calendar .calendar_list #list li h1{
	text-shadow:none;
}

.dp_calendar .calendar_list #list li h1 {
	font-size:20px;
	margin: 0 0 0 10px;
	float:left;
	font-weight:normal;
	color:inherit;
	clear: none;
	line-height:100%;
}

.dp_calendar .calendar_list #list li .time {
	border:1px solid #ccc;
	color:#F6F6F6;
	font-size:20px;
	padding:10px;
	float:left;
	font-weight:bold;
	line-height: 100%;
}

.dp_calendar .calendar_list #list li p {
	margin:10px 0 0 0;
	display:none;
	font-size:16px;
	line-height:100%;
}

.dp_calendar .calendar_list #list li.urgent .time {
	background:#d44d45;
	border:1px solid #b8413a;
}

.dp_calendar .calendar_list #list li.medium .time {
	background:#f8b356;
	border:1px solid #ecab52;
}

.dp_calendar .calendar_list #list li.low .time {
	background:#c6cf52;
	border:1px solid #b9c14c;
}

.calendar_list h2, #cl_sort_by{
	display: none;
}